<%= form_for(@post, url: post_path(@post), method: :patch) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="field ">
    <%= form.label :description %>
    <%= form.text_area :description , class: "form-floating"%>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images , multiple: true, class: "input-group-text" %>
  </div>

  <div class="actions">
    <%= form.submit "Обновить", class:"btn btn-primary" %>
  </div>

</div>


<% end %>