<h1>Общая лента</h1>

<% @posts.reverse.each do |post| %>
  <div>
   <h3><%= link_to post.profile.username, profile_path(post.profile) %></h3>
    <h3><%= link_to post.description, post %></h3>
    <% post.images.each do |image| %>
      <%= image_tag image %>
    <% end %>
  </div>
  <% like = post.like.find_by(profile: current_user.profile) %>

<div class="like-buttons">
  <!-- Кнопка для лайка -->
  <%= form_with(url: post_likes_path(post), method: :post, local: true) do |form| %>
    <%= hidden_field_tag :likeable_id, post.id %>
    <%= hidden_field_tag :likeable_type, 'Post' %>
    <%= hidden_field_tag :like_type, 1 %> <!-- Устанавливаем лайк -->

    <%= form.submit '👍🏻', class: like.present? && like.like_type == 1 ? 'active-like' : 'inactive-like' %>
    <span><%= post.like.where(like_type: 1).count %></span> <!-- Подсчет лайков -->
  <% end %>

  <!-- Кнопка для дизлайка -->
  <%= form_with(url: post_likes_path(post), method: :post, local: true) do |form| %>
    <%= hidden_field_tag :likeable_id, post.id %>
    <%= hidden_field_tag :likeable_type, 'Post' %>
    <%= hidden_field_tag :like_type, -1 %> <!-- Устанавливаем дизлайк -->

    <%= form.submit '👎🏻', class: like.present? && like.like_type == -1 ? 'active-dislike' : 'inactive-dislike' %>
    <span><%= post.like.where(like_type: -1).count %></span> <!-- Подсчет дизлайков -->
  <% end %>
</div>
<% end %>
