
<h3><%= link_to @post.profile.username, profile_path(@post.profile) %></h3>
<h1><%= @post.description %></h1>

<% @post.images.each do |image| %>
  <div>
    <%= image_tag image %>
  </div>
<% end %>
<% if @post.profile.user == current_user %>
  <%= link_to 'Изменить пост', edit_post_path(@post) %>
<% end %>



<% like = @post.like.find_by(profile: current_user.profile) %>

<div class="like-buttons">
  <!-- Кнопка для лайка -->
  <%= form_with(url: post_likes_path(@post), method: :post, local: true) do |form| %>
    <%= hidden_field_tag :likeable_id, @post.id %>
    <%= hidden_field_tag :likeable_type, 'Post' %>
    <%= hidden_field_tag :like_type, 1 %> <!-- Устанавливаем лайк -->

    <%= form.submit '👍🏻', class: like.present? && like.like_type == 1 ? 'active-like' : 'inactive-like' %>
    <span><%= @post.like.where(like_type: 1).count %></span> <!-- Подсчет лайков -->
  <% end %>

  <!-- Кнопка для дизлайка -->
  <%= form_with(url: post_likes_path(@post), method: :post, local: true) do |form| %>
    <%= hidden_field_tag :likeable_id, @post.id %>
    <%= hidden_field_tag :likeable_type, 'Post' %>
    <%= hidden_field_tag :like_type, -1 %> <!-- Устанавливаем дизлайк -->

    <%= form.submit '👎🏻', class: like.present? && like.like_type == -1 ? 'active-dislike' : 'inactive-dislike' %>
    <span><%= @post.like.where(like_type: -1).count %></span> <!-- Подсчет дизлайков -->
  <% end %>
</div>








<% @comments.active.each do |comment| %>
  <div>
    <% if comment.profile.present? %>
      <%= link_to comment.profile.username, profile_path(comment.profile) %>
 <%= form_with(url: post_comment_path(@post, comment), method: :delete, remote: true, data: { confirm: 'Are you sure?' }) do |form| %>
  <%= form.submit 'Delete', class: 'delete-button' %>
<% end %>


    <% else %>
      <p>Аноним</p> 
    <% end %>
  </div>
   <p><%= comment.title %></p> 
  <% comment.images.each do |image| %>
    <div>
      <%= image_tag image %>
    </div>
  <% end %>


<% end %>



<%= form_with(model: [@post, @comment], local: true) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>